.title {
  color: purple;
  font-size: 50px;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.cursive {
  font-family: cursive;
}

.author-name {
  color: blue;
  text-align: center;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

p {
  font-family: Arial;
  font-size: 20px;
  text-align: center;
}

.container {
  max-width: 740px;
  margin: 0 auto;
  height: 550px;
}

.date-published {
  color: gray;
  text-align: center;
}

th {
  border: 3px solid #000000;
}

table {
  text-align: center;
  margin: 20px auto;
}

td{
  border: 2px solid #000000;
}

.theading-two {
  background-color: #FFFF00
}

.left-one {
  width: 100px
}

.left-two {
  width: 100px;
  background: #6A5ACD;
  color: white;
}

.left-three {
  width: 100px;
  background: #228B22;
  color: white;
}

.left-four{
  width: 100px;
  background: #B22222;
  color: white;
}

.left-five{
  width: 100px;
  background: #0000CD;
  color: white;
}

.left-ten{
  width: 100px;
  background: #FF4500;
  color: white;
}

.left-eleven{
  width: 100px;
  background: #8B008B;
  color: white;
}

.left-twelve{
  width: 100px;
  background: #8B0000;
  color:white;
}

.h2-resources {
  color: maroon;
  font-family: Comic Sans MS;
}

footer h3 {
  display: inline-block;
  font-size: 14px;
  background-color: #DCDCDC;
  text-align: center;
}
  
